.dino {
    width: 190px;
}
.card img {
    height: 125px;
    
}
  
.card p {
    opacity: .5;
}
  
.card {
    width: 200px;
    border-radius: 3px;
    box-shadow:  1px 1px 10px rgba(78, 15, 123, 0.6);
    text-align: center;
    padding: 20px;
    border: 1px 1px 10px rgba(78, 15, 123, 0.6);
}