
.footer {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to bottom right, rgb(7, 7, 89), pink);
    opacity: .5;
}
  
.footer a {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 10px;
}
  
.footer p {
    color: #a9ddfd;
  }
  